<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/css/mdb.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">



<mat-drawer-container class="example-container" hasBackdrop="False">
  <mat-drawer #drawer mode="push">I'm a drawer</mat-drawer>
  <mat-drawer-content class='content'>
    <button mat-fab color="primary" (click)="drawer.toggle()" aria-label="Toggle game menu" class='fab-container fab-drawer'>
      <mat-icon>{{getDrawerIcon()}}</mat-icon>
    </button>
    <app-board></app-board>
  </mat-drawer-content>
</mat-drawer-container>

