# compiled output
/dist
/tmp
/out-tsc
.VSCodeCounter
# dependencies
node_modules/
api/scrap/foodista/out/
api/scrap/glove.6B.100d.txt/
api/scrap/mapping/models/
api/selenium/
/api/config.js
/api/uploads
# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

log.txt