.unchecked {
  background: lightblue;
}

.unchecked:hover {
  background: lightgray ;
}

.checked{
  background: whitesmoke;
}

.board-holder{
  margin: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 80% !important;
}

.mark{
  font-size: larger;
  background-color: whitesmoke;
}
